@{

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/account/admin.css" />
    <link rel="stylesheet" href="~/css/account/navbar.css" />
    <link rel="stylesheet" href="~/css/account/search/groups.css" />
    <link rel="stylesheet" href="~/css/fontawesome/css/all.css" />
    <title>Document</title>
</head>
<body>
    <div class="nav">
        <div class="nav-title">
            <a href="#"><i class="fa fa-solid fa-user"></i>@ViewData["UserName"]</a>
        </div>
        @if ((bool)ViewData["IsAdmin"])
        {
            <a href="#" class="nav-item">Главная</a>
            <a href="/admin/groups" class="@(Context.Request.Path.Value.Equals("/admin/groups") ? "nav-item hl" : "nav-item" )">Группы</a>
            <a href="#" class="nav-item">Студенты</a>
        }
        else
        {
            
        }
        <a href="/logout" class="nav-exit">Выйти</a>
    </div>
    <div class="container">
        @RenderBody()
    </div>
</body>
<script src="~/css/account/search/search.js"></script>
</html>
