@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

* {
  font-family: "Open Sans"
}

/* ------ Navbar ------ */

nav {
  display: flex;
  max-height: 60px;
  align-items: center;
  padding: 0.5rem 1rem;
}

nav .logo-container {
  width: 50px;
  margin: 10px;
}

nav .logo-container .logo {
  width: 100%;
}

nav span {
  margin-left: 1rem;
  display: inline-block;
  line-height: inherit;
  white-space: nowrap;
  font-size: 1.17rem;
}

nav .nav-items {
  
  flex-flow: row nowrap;
  justify-content: flex-start;
}

nav .nav-items ul {
  display: flex;
  flex-direction: row;
}

nav .nav-items li {
  display: list-item;
  list-style-type: none;
  text-align: -webkit-match-parent;
  padding-right: 1rem;
  padding-left: 1rem;
}

nav .nav-items li:hover {
  transform: translateY(-2px);
}

nav a {
  color: #000;
  text-decoration: none;
}

nav .account {
  margin-right: 10px;
  margin-left: auto;
  padding: 0 10px;
}

nav .account span{
  margin-right: 40px;
}

nav .nav-button {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 38px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  nav .nav-button:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  nav .nav-button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  nav .nav-button:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }


  /* ------ Home page ------ */

  .overlay {
    width: 100vw;
    height: 100vh;
  }

  .home {
    margin: 0 auto;
    text-align: left;
    max-width: 90vw;
    padding-top: 90px;
  }

  .home >h1 { 
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 300;
    line-height: 1.2;
    
  }

  .reminder {
    background: linear-gradient(69deg, red, #186bae);
    padding: 10px;
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: -40px;
    font-size: 15pt;
  }

  .tasksItem {
    display: list-item;
    list-style-type: none;
    text-align: -webkit-match-parent;
  }

  .link-container{
    transition: .5s;
    transition-delay: 0s;
    width: 20%;
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 40px;
    background-color: rgb(233, 233, 233);
    overflow: hidden;
    padding: 0 10px;
}

.copy-text { 
  margin-top: 20px;
  position: relative;
  width: fit-content;
  padding: 1px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  display: flex;
}

.copy-text input.text {
  padding: 10px;
  font-size: 14px;
  color: #555;
  border: none;
  outline: none;
}

.btn-icon {
  font-size: 15px !important;
}

.copy-text button {
  padding: 10px;
  background: #5784f5;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

.copy-text button:active {
  background: #809ce2;
}

.copy-text button::before {
  content: "Скопировано";
  position: absolute;
  padding: 5px;
  top: -45px;
  right: 0px;
  background-color: #5c81dc;
  border-radius: 20px;
  font-size: 15px;
  display: none;
}

.copy-text button::after {
  content: "";
  position: absolute;
  top: -20px;
  right: 15px;
  width: 10px;
  height: 10px;
  background-color: #5c81dc;
  transform: rotate(45deg);
  display: none;
}


/* ------ Login page ------ */

.header {
  display: flex;
  margin: 0 auto;
  width: 55rem;
  justify-content: center;
  padding-top: 2rem;
}

.error-message {
  padding: 10px 0px 10px 0px;
  border-radius: 4px;
  position: relative;
  background: #f6ddde;
  border-color:#d4aaac;
  color:#972a3d;
  top: 0px;
  width: 100%;
}

.header  .logo-container {
  margin: 0 10px 0 0;
}

.header .logo-container .img-logo {
  width: 74px;
  height: 74px;
}

.header .title {
  max-width: 100%;
  font-size: 1.25rem;
  font-weight: bold;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  color: #0069b2;
  line-height: 1.5rem;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  align-content: center;
  justify-content: center
}

.header .subtitle {
  margin-top: 10px;
  max-width: 100%;
  font-size: 1.25rem;
  font-weight: bold;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  color: #0069b2;
  line-height: 1.5rem;
  text-align: justify
}

.band {
  background: linear-gradient(69deg, rgb(97, 205, 255), #0081b4);
  padding: 20px;
  text-align: center;
  color: white;
  margin-top: 20px;
  margin-bottom: -40px;
  font-size: 15pt;
}

.modal {
  display: flex;
  justify-content: center;
  padding-top: 8rem;
  margin: 0 auto;
  width: 35rem;
  font-size: 1.25rem;
  margin-top: 1rem;
}

.modal-box {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 20rem;
  padding: 0.5rem;
  line-height: 1.75rem;
  border: 2px solid rgb(57,130,193);
  border-radius: 1rem;
}

.modal-box form label {
  width: 6rem;
  text-align: right;
  margin-right: 0.5rem;
  display: inline-block;
  font-size: 1rem;
}

.modal-box form input[name="login"] {
  width: 12rem;
}

.modal-box form input[name="password"] {
  width: 12rem;
}

.modal-box form input[name="firstName"] {
  width: 12rem;
}

.modal-box form input[name="lastName"] {
  width: 12rem;
}

.modal-box form input[type="submit"] {
  display: block;
  margin: 0 auto;
  font-size: 1rem;
  margin-top: 0.5rem;
}

/* ------ User List ------ */

.AdminContainer {
  display: flex;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input {
  color: black;

}

.input-file-container {
  position: relative;
  width: 150px;
  left: 5px;
} 
.js .input-file-trigger {
  display: block;
  padding: 2px;
  background: #1976d2;
  color: #fff;
  font-size: 1em;
  transition: all .4s;
  cursor: pointer;
  border-radius: 10px;
}
.js .input-file {
  position: absolute;
  top: 0; left: 0;
  width: 225px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
  background: #0288d1;
  color: #fff;
  cursor: pointer;
}

.userAddGroupButton {
  width: 160px;
  border: none;
  padding: 5px;
  background-color: #1976d2;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  color: white;
  font-size: 16px;
  margin-right: 40px;
  position: relative;
  right: 3px;
}

.userAddGroupButton:hover {
  background-color: #0288d1;
}


.others {
  margin-top: 35px;
  flex: 8;
}

.groupName {
  font-size: 16px;
  position: relative;
  margin-left: auto;
  border: 1px solid #1976d2;
  padding: 4px;
}

.groupName:focus {
  outline: 0;
}

.userListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #1976d2;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.userListEdit:hover{
  background-color: #0288d1;
}

.userListDelete:hover {
  cursor: pointer;
  color: #d32f2f;
}

.dataGrid {
  height: 90%;
}

.dataGridTask {
  height: 50%;
  margin-right: 20px;
  margin-left: 20px
}

/* ------ Admin Bar ------ */

.AdminBar {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 999;
}

.adminbarIcons:hover {
  color: #d32f2f;
}

.AdminBarIconsContainer {
  display: flex;
  margin-right: 20px;
  cursor: pointer;
  align-items: center;
}

.AdminBarIconsContainer> p {
  margin-right: 10px;
}


.AdminBarIconsContainer > ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.AdminBarIconsContainer > li {
  color: #fff;
  background: #e2e2e2;;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}
  
.AdminBarIconsContainer > li {
  color: #fff;
}

ul.dropdown > li:hover {
  text-decoration: none;
  cursor: pointer;
}

.import:hover {
  color:#1976d2;
}

.AdminBarIconsContainer > ul li ul {
  background: #e7e7e7;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  margin-right: 60px;
  position: absolute;
  transition: all 0.5s ease;
  right: 0;
  display: none;
}

.AdminBarIconsContainer > ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block
}

.AdminBarIconsContainer > ul li ul li {
  margin: 10px 10px 10px 0px;
  border-bottom: ridge;
  clear: both;
  width: 100%;
}

ul.dropdown {
  padding: 10px;
}

.AdminBarWrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 25px;
  color: #1565c0;
  cursor: pointer;
}

.topRight {
  display: flex;
  align-items: flex-start;
}

.userUpdateInputconsContainer {
  position: relative;
  margin-right: 20px;
  cursor: pointer;
  color: #555;
}

.topIconBadge {
  position: absolute;
  top: 10px;
  right: -5px;
  width: 15px;
  height: 15px;
  background-color: #d32f2f;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

/* ------ Side Admin Bar ------ */

.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: white;
  position: sticky;
}

.sidebarWrapper {
  padding: 20px;
  color: #555;
  width: 220px;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 13px;
  color: rgb(187, 186, 186);
  text-align: left;
}

.sidebarList{
  list-style: none;
  padding: 5px;
  margin: 0;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  text-decoration: none;
}

.sidebarListItem>a {
  width: 200px;
  text-align: initial;
}

.sidebarListItem:active, .sidebarListItem:hover {
  background-color: rgb(228, 228, 250);
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}

.sidebarIconTransform {
  margin-right: 5px;
  font-size: 20px !important;
  transform: scale(-1, 1)
}

/* ------ User ------ */

.user {
  display: flex;
}

.userContainer {
  margin-top: 35px;
  flex: 8;
}

.userTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: #1976d2;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  margin-right: 40px;
}

.userAddButton:hover {
  background-color: #0288d1;
}

.AdButton:hover {
  background-color: #0288d1;
}

.userShow {
  padding: 20px;
}

span.userShowInfoTitle {
  margin-left: 5px;
}

.userShowInfoTitle::after {
  content: "🖍";
  position: relative;
  bottom: 10px;
  left: 2px;
}

.userUpdate {
  flex: 1;
  padding: 20px;
  -webkit-box-shadow: 0px 10px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 15px -10px rgba(0, 0, 0, 0.75);
  margin-left: 20px;
}

.userShowTop {
  display: flex;
  align-items: center;
}

.userShowTopTitle {
  display: flex;
  align-items: center;
}

.userShowImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.userShowUserName {
  font-weight: 600;
  margin-right: 10px;
}

.userShowUserTitle {
  font-weight: 300;
}

.userDetails {
  display: flex;
}

.userShowButton {
  flex: 1;
  margin-top: 20px;
  text-align: left;
  -webkit-box-shadow: 0px 10px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 15px -10px rgba(0, 0, 0, 0.75);
}

.userShowTitle {
  font-size: 14px;
  font-weight: 600;
  color: rgb(175, 170, 170);
}

.userShowInfo {
  display: flex;
  align-items: center;
  margin: 20px 10px;
  color: #444;
}

.userUpdateTitle {
  font-size: 14px;
  font-weight: 600;
  color: rgb(175, 170, 170);
  display: flex;
}

.userUpdateForm {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.userUpdateItem {
  display: flex;
  margin-top: 10px;
}

.userUpdateItemTask:first-child {
  display: flex;
  margin-top: 10px;
}

.userUpdateItemTask {
  display: flex;
  margin-top: 25px;
}

.userUpateItem>label {
   margin-bottom: 5px;
   font-size: 14px;
}

.userAddTaskButton {
  width: 300px;
  border: none;
  padding: 5px;
  background-color: #1976d2;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  margin-right: 40px;
  position: relative;
  right: 3px;
}

.userAddTaskButton:hover {
  background-color: #0288d1
}

.userUpdateInput {
  min-height: 20px;
  max-height: 22px;
  margin-left: 10px;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.userUpdateInput::placeholder {
  color: #212529;
  opacity: 0.5;
}

.userUpdateInput:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.editUser {
  display: flex;
  flex-direction: column-reverse;
}

.buttonEditUser {
  width: 100%;
  border: none;
  padding: 5px;
  background-color: #1976d2;
  border-radius: 0 0 10px 10px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

.buttonEditUser:hover { 
  background-color: #0288d1;
}

/* ------ NEW User ------ */

.createUser {
  display: flex;
}

.newUser {
  flex: 4;
}

.newUserTitle {
  display: flex;
}

.newUserForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 20px;
}

.newUserItem {
  max-width: 300px;
  min-width: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 20px;
}

.newUserItem > label {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(151, 150, 150);
}

.newUserItem > input {
  height: 20px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.newUserSelect{
    height: 40px;
    border-radius: 5px;
    padding: 10px;
}

.newUserButton{
    width: 200px;
    border: none;
    background-color: #1976d2;
    color: white;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
    margin-right: 20px;
}

.newUserButton:hover {
  background-color: #0288d1;
}

.buttonForm {
  margin-left: auto;
}

/* ------ NEW GROUP ------ */

.createGroup {
  display: flex;
}

.newGroup {
  flex: 4;
}

.newGroupTitle {
  display: flex;
}

.newGroupForm {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 20px;
}

.newGroupItem {
  max-width: 300px;
  min-width: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 20px;
}

.newGroupItem > label {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(151, 150, 150);
}

.newGroupItem > input {
  height: 20px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.newGroupSelect{
    height: 40px;
    border-radius: 5px;
}

.newGroupButton{
    width: 200px;
    border: none;
    background-color: #1976d2;
    color: white;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
    margin-right: 20px;
}

.newGroupButton:hover {
  background-color: #0288d1;
}

.buttonGroupForm {
  margin-top: 10px;
}

/* ------ NEW TASK ------ */

.createTask {
  display: flex;
}

.newTask {
  flex: 4;
}

.newTaskTitle {
  display: flex;
}

.newTaskForm {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.newTaskItem {
  max-width: 300px;
  min-width: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 20px;
}

.newTaskItem > label {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(151, 150, 150);
}

.newTaskItem > input {
  height: 20px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.CKeditor {
  display: flex;
  margin-top: 25px;
  width: 100%;
  margin-right: 20px;
  flex-direction: column;
}

.CKeditor > label {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(151, 150, 150);
  text-align: left;
}

.editor-data {
  width: auto;
  height: auto;
  text-align: left;
}

.newTaskSelect{
    height: 40px;
    border-radius: 5px;
}

.newTaskButton{
    width: 200px;
    border: none;
    background-color: #1976d2;
    color: white;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    margin: 30px 20px 30px 0;
    cursor: pointer;
}

.newTaskButton:hover {
  background-color: #0288d1;
}

.buttonTaskForm {
  order: 999;
  margin-left: auto;
}


/* ------ ADD TASKS COMPONENT ------ */

.addtasks-modal {
  z-index: 1;
  position: absolute;
  top: 160px;
  margin-left: auto;
  margin-right: auto;
  width: 1540px;
  height: 680px;
  background-color: rgb(236, 241, 255);
  border-radius: 10px;
  border: 1px solid rgb(143, 143, 143);
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  
}

.close-icon {
  position: relative;
  bottom: 25px;
  left: 20px;
  float: right;
  cursor: pointer;
  color: #000;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
  float: left;
  margin-bottom: 10px;
}

.AddTaskdataGrid {
  height: 580px;
}

.AddTaskButton {
  width: 200px;
  margin-top: 20px;
  border: none;
  padding: 5px;
  background-color: #1976d2;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  order: 999;
  margin-left: auto;

}

.AddTaskButton:hover {
  background-color: #0288d1;
}