@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto+Slab&display=swap');

:root{
    --font-Roboto: 'Roboto Condensed', sans-serif;
    --font-Roboto-Slab:'Roboto Slab', serif;
    --normal-font-size: 18px; 
    --font-Raleway: 'Raleway', sans-serif;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body > .container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    padding-top: 4em;
}