.students-table, .student-search {
    width: 70%;
    margin-left: 15%;
}

.student-search {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}

    .student-search > input.student-name {
        font-size: 1.5rem;
        margin-right: 1rem;
        padding: 0.3rem 0.5rem;
        font-family: var(--font-Roboto);
        border: 1px solid rgba(0, 0, 0, 0.4);
        border-radius: 10px;
    }

.btn-action,
.btn-cancel {
    padding: 0.7em 1.5em;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    font-size: 1rem;
    font-family: var(--font-Raleway);
    font-weight: bold;
    text-decoration: none;
    transition: 200ms;
}

.btn-action {
    background-color: rgb(24, 182, 37);
    color: white;
}

    .btn-action:hover {
        cursor: pointer;
        background-color: rgb(17, 128, 27);
    }

.btn-cancel {
    background-color: rgb(182, 24, 24);
    color: white;
}

    .btn-cancel:hover {
        cursor: pointer;
        background-color: rgb(128, 17, 17);
    }

.students-table {
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin-top: 1em;
    border: 1px solid rgba(0, 0, 0, 0.4);
    overflow-y: auto;
    height: 100%;
}

    .students-table > .students-list {
        display: grid;
        grid-template-rows: 9fr 1fr;
        height: 100%;
        border-right: 1px solid rgba(0, 0, 0, 0.4);
        overflow-y: auto;
    }

.students-list > .footer {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
}

.students-list .students {
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.students-table .students-list .loader {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
}

.add-student-modal .students-list .loader {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
}

.students-list .students > .student {
    font-size: 1.5em;
    font-family: var(--font-Roboto);
    padding: 0.5rem;
    transition: background-color 200ms;
}

.students-list .student.hl {
    background-color: rgb(36, 124, 224);
}

.students-list .student:hover {
    cursor: pointer;
    background-color: rgba(36, 124, 224, 0.4);
}

.students-list .student.hl:hover {
    background-color: rgb(36, 124, 224);
}

.students-table .students::-webkit-scrollbar {
    width: 0.7em;
}

.students-table .students::-webkit-scrollbar-thumb {
    background-color: rgb(134, 138, 134);
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 2em;
}

    .students-table .students::-webkit-scrollbar-thumb:hover {
        background-color: rgb(107, 105, 105);
    }

.add-student-modal::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.add-student-modal {
    width: 40vw;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

    .add-student-modal > .container {
        display: flex;
        flex-direction: column;
        margin: 1em;
    }

        .add-student-modal > .container > .page-header {
            display: flex;
            flex-direction: column;
        }

            .add-student-modal > .container > .page-header > .search-student {
                margin: 0.5em 0;
                font-size: 20px;
                padding: 0.3em;
                max-width: 50%;
                border: 1px solid rgba(0, 0, 0, 0.2);
                border-radius: 7px;
            }

        .add-student-modal > .container > .students-list {
            display: flex;
            flex-direction: column;
            align-items: start;
            height: 60vh;
            overflow-y: auto;
            position: relative;
        }

    .add-student-modal .student {
        display: grid;
        grid-template-columns: 1fr 7fr;
        justify-items: center;
        align-items: center;
        width: 100%;
        padding: 0.7em 0;
        font-size: 1.2em;
        font-family: var(--font-Roboto-Slab);
    }

        .add-student-modal .student > .name {
            justify-self: start;
        }

        .add-student-modal .student:hover {
            cursor: pointer;
            background-color: rgba(36, 124, 224, 0.4);
        }

    .add-student-modal > .container > .footer {
        padding-top: 1em;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }

@media (max-width: 1200px) {
    .students-table, .student-search {
        width: 100%;
        margin-left: 0;
    }

    .add-student-modal > .container {
        display: flex;
        flex-direction: column;
        margin: .5em;
    }

    .add-student-modal {
        width: 50vw;
    }

        .add-student-modal > .container > .page-header > .search-student {
            max-width: 70%;
        }
}
