:root {
    --table-border: 1px solid rgba(0, 0, 0, .2);
    --row-height: 1rem;
    --table-height: 40rem;
}

.groups-table {
    align-self: center;
    margin-top: 1em;
    border-spacing: 0;
    max-width: 80%;
    min-width: min(70%, 1200px);
    text-align: start;
}

    .groups-table .group-nav {
        display: flex;
        flex-direction: row;
        justify-content: start;
        padding: 0.5rem 0;
    }

.group-nav > input.group-name {
    font-size: 20px;
    font-family: var(--font-Raleway);
    padding: 0.5rem;
    margin-right: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.groups-table .header {
    margin-top: 2em;
}

.groups-table .body {
    height: var(--table-height);
    overflow-y: auto;
    position: relative;
}

    .groups-table .body .loader {
        position: absolute;
        top: calc(50% - 50px);
        left: calc(50% - 50px);
    }

.groups-table .row {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    border-bottom: var(--table-border);
}

.groups-table .header .row {
    font-family: var(--font-Raleway);
    font-weight: bold;
    text-align: start;
    overflow: wrap;
    padding-bottom: .5em;
}

.groups-table .body .row {
    font-family: var(--font-Roboto);
    padding: 1rem 0;
    height: 1rem;
}

    .groups-table .body .row .group-name {
        font-weight: bold;
    }

    .groups-table .body .row .actions {
        display: flex;
        flex-direction: row;
        align-items: start;
    }

.actions a {
    text-decoration: none;
    padding: 0 .5em;
    opacity: 0.7;
}

    .actions a.edit {
        color: rgb(36, 137, 204);
    }

    .actions a.delete {
        color: rgb(204, 36, 36);
    }

    .actions a:hover {
        cursor: pointer;
        opacity: 1;
    }

.groups-table .footer {
    justify-self: end;
    bottom: 0;
    border-top: var(--table-border);
    padding: 1rem 0;
    height: 1rem;
}

.create-group-modal {
    min-width: max(30%, 50ch);
    max-width: 75%;
    border: 0;
    border-radius: 5px;
}

    .create-group-modal > .container {
        display: flex;
        flex-direction: column;
        margin: 1em;
    }

        .create-group-modal > .container > .header {
            font-size: 24px;
            font-family: var(--font-Roboto);
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 1em;
        }

.modal-input {
    font-family: var(--font-Raleway);
    font-size: 22px;
    padding: .5rem;
    margin-bottom: 1em;
    max-width: 30ch;
    border: 2px solid rgba(1, 1, 1, .5);
    border-radius: 10px;
}

    .modal-input:focus {
        border: 2px solid rgba(36, 137, 204, 0.7);
        outline: 0;
    }

.create-group-modal::backdrop {
    background-color: rgba(1, 1, 1, .5);
}
