.groups-table {
    align-self: center;
    margin-top: 1em;
    border-spacing: 0;
    max-width: 90%;
    min-width: min(100%, 1200px);
    table-layout: fixed;
}

    .groups-table .group-nav {
        display: flex;
        flex-direction: row;
        justify-content: start;
        padding: 0.5rem 0;
    }

.group-nav > input.group-name {
    font-size: 20px;
    font-family: var(--font-Raleway);
    padding: 0.5rem;
    margin-right: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.groups-table tr {
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
}

.groups-table th.header {
    font-family: var(--font-Raleway);
    overflow: wrap;
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.2);
}

    .groups-table th.header:last-of-type {
        border-right: 1px solid rgba(0, 0, 0, 0.4);
    }

.groups-table td {
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    padding: 0.5rem;
}

    .groups-table td:last-of-type {
        border-right: 1px solid rgba(0, 0, 0, 0.4);
    }

    .groups-table td.group-name {
        font-family: var(--font-Raleway);
        font-weight: bold;
        text-align: center;
    }

.groups-table > tr > td.actions {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5%;
}

td.actions > .action {
    display: flex;
    flex-direction: row;
}

    td.actions > .action > a {
        text-decoration: none;
    }

.create-group-modal {
    min-width: max(30%, 50ch);
    max-width: 75%;
    border: 0;
    border-radius: 5px;
}

    .create-group-modal > .container {
        display: flex;
        flex-direction: column;
        margin: 1em;
    }

.modal-input {
    font-family: var(--font-Raleway);
    font-size: 22px;
    padding: .5rem;
    margin-bottom: 1em;
    max-width: 30ch;
    border: 2px solid rgba(1, 1, 1, .5);
    border-radius: 10px;
}

    .modal-input:focus {
        border: 2px solid rgba(36, 137, 204, 0.7);
        outline: 0;
    }

.create-group-modal::backdrop {
    background-color: rgba(1, 1, 1, .5);
}
