/*Page body*/

.container > .page-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    padding-top: 1rem;
    width: 100%;
}

.page-body > .input-section {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 30%;
}

.input-section > .label {
    font-size: 20px;
    font-family: var(--font-Raleway);
    font-weight: bold;
}

.input-section > .input {
    font-size: 20px;
    font-family: var(--font-Raleway);
    font-weight: 700;
    letter-spacing: 1px;
    border: 2px solid rgba(1, 1, 1, .5);
    border-radius: 10px;
    padding: 8px;
}

    .input-section > .input::placeholder {
        font-weight: 100;
        letter-spacing: 0;
    }

    .input-section > .input:focus {
        border: 2px solid rgba(36, 137, 204, 0.7);
        outline: 0;
    }

/*Page footer*/

.page-footer {
    display: flex;
    flex-direction: column;
    padding-top: 3em;
    width: 100%;
}

    .page-footer > .button-section {
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-content: end;
        width: 30%;
    }

.button-section > .button {
    padding: .5em 1em;
    font-size: 17px;
    color: white;
    border: 2px solid rgb(0, 99, 8);
    border-radius: 10px;
    background-color: rgb(28, 190, 36);
    transition: 200ms;
}

    .button-section > .button:hover {
        cursor: pointer;
        background-color: rgb(17, 128, 27);
    }

@media(max-width: 1200px) {
    .page-body > .input-section {
        width: 40%;
    }

    .page-footer > .button-section {
        width: 40%;
    }
}

@media(max-width: 1000px) {
    .page-body > .input-section {
        width: 50%;
    }

    .page-footer > .button-section {
        width: 50%;
    }
}
