.students-table {
    margin-top: 1em;
    border-spacing: 0;
    max-width: 90%;
    min-width: min(100%, 1200px);
}

    .students-table .student-nav {
        display: flex;
        flex-direction: row;
        justify-content: start;
        padding: 0.5rem 0;
    }

.student-nav > input.student-name {
    font-size: 20px;
    font-family: var(--font-Raleway);
    padding: 0.5rem;
    margin-right: .5rem;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.students-table th.header {
    font-family: var(--font-Raleway);
    overflow: wrap;
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.2);
}

    .students-table th.header:last-of-type {
        border-right: 1px solid rgba(0, 0, 0, 0.4);
    }

.students-table td {
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    padding: 0.5rem;
}

    .students-table td:last-of-type {
        border-right: 1px solid rgba(0, 0, 0, 0.4);
    }

    .students-table td.student-name {
        font-family: var(--font-Raleway);
        font-weight: bold;
        text-align: center;
    }

.students-table > tr > td.actions {
    display: flex;
    flex-direction: column;
    align-items: start;
}

td.actions > .action {
    display: flex;
    flex-direction: row;
    margin: .5em 0;
}

    td.actions > .action > a {
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
        font-family: var(--font-Raleway);
        color: black;
        transition: color 100ms;
    }

        td.actions > .action > a:hover {
            color: rgb(36, 67, 204)
        }

.btn-action, .btn-cancel, .btn-info {
    padding: .5em 1.2em;
    margin-right: .5rem;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, .4);
    font-size: 1rem;
    font-family: var(--font-Raleway);
    font-weight: bold;
    text-decoration: none;
    transition: 200ms;
}

.btn-action {
    background-color: rgb(24, 182, 37);
    color: white;
}

    .btn-action:hover {
        cursor: pointer;
        background-color: rgb(17, 128, 27);
    }

.btn-cancel {
    background-color: rgb(182, 24, 24);
    color: white;
}

    .btn-cancel:hover {
        cursor: pointer;
        background-color: rgb(128, 17, 17);
    }

.btn-info {
    background-color: rgb(24, 106, 182);
    color: white;
}

    .btn-info:hover {
        cursor: pointer;
        background-color: rgb(17, 56, 128);
    }

.create-student-modal {
    min-width: max(30%, 50ch);
    max-width: 75%;
    border: 0;
    border-radius: 5px;
}

    .create-student-modal > .container {
        display: flex;
        flex-direction: column;
        margin: 1em;
    }

        .create-student-modal > .container > .header {
            font-size: 2em;
            font-family: var(--font-Raleway);
            font-weight: bold;
            margin-bottom: 1em;
        }

        .create-student-modal > .container > .footer {
            margin-top: 1em;
        }

.modal-input {
    font-family: var(--font-Raleway);
    font-size: 22px;
    padding: .5rem;
    margin-top: 1em;
    max-width: 30ch;
    border: 2px solid rgba(1, 1, 1, .5);
    border-radius: 10px;
}

    .modal-input:focus {
        border: 2px solid rgba(36, 137, 204, 0.7);
        outline: 0;
    }

.create-student-modal::backdrop {
    background-color: rgba(1, 1, 1, .5);
}

span.field-validation-error {
    align-self: start;
    margin-left: 8px;
    color: red;
    font-weight: bold;
}