@using ExamManager.Models
@model ExamManager.Models.User
@{
    ViewData["Title"] = "Администратор";
    ViewData["IsAdmin"] = Model.Role == UserRole.ADMIN;
    Layout = "_AccountLayout";
}

<div class="container">
    
</div>