@model ExamManager.Models.UserViewModel
@{
    ViewData["Title"] = "Администратор";
    ViewData["UserName"] = $"{Model!.MiddleName} {Model!.FirstName}";
    ViewData["IsAdmin"] = true;
    Layout = "_AccountLayout";
}

<div class="container">
    
</div>