@using ExamManager.Models
@model ExamManager.Models.User
@{
    ViewData["Title"] = "Администратор";
    ViewData["UserName"] = $"{Model.LastName} {Model.FirstName}";
    ViewData["IsAdmin"] = Model.Role == UserRole.ADMIN;
    Layout = "_AccountLayout";
}

<link rel="stylesheet" href="~/css/account/groups.css" />
<div class="page-header">Группы</div>
<div class="table">
    <div class="bar">
        <input id="group-name"
               type="text"
               placeholder="Поиск" />
        <input id="open-button"
               type="button"
               class="btn-action"
               value="Добавить" />
    </div>
    <div class="header">
        <div class="row">
            <div size="1">№</div>
            <div size="2">Название группы</div>
            <div size="1">Участники</div>
            <div size="1"></div>
        </div>
    </div>
    <div class="body">
        <div class="loader"></div>
    </div>
    <div class="footer"></div>
</div>

<dialog class="create-group-modal" id="create-group-modal">
    <div class="container">
        <div class="header">Новая группа</div>
        <input type="text" class="modal-input" id="create-group-name" placeholder="Название группы" autocomplete="off" />
        <div class="footer">
            <input type="button" class="btn-action" id="create-group-button" value="Добавить" />
            <input type="button" class="btn-cancel" id="close-button" value="Отмена" />
        </div>
    </div>
</dialog>