@using ExamManager.Models
@model ExamManager.Models.User
@{
    ViewData["Title"] = "Администратор";
    ViewData["UserName"] = $"{Model.LastName} {Model.FirstName}";
    ViewData["IsAdmin"] = Model.Role == UserRole.ADMIN;
    Layout = "_AccountLayout";
}

    <link rel="stylesheet" href="~/css/account/settings.css" />
    <div class="page-header">Настройки</div>
    <div class="settings">
        <div class="section" head="Личные данные">
            <div class="row">
                <div class="input-section">
                    <label>Имя</label>
                    <input type="text" id="firstname-input" value="@Model.FirstName" />
                </div>
                <div class="input-section">
                    <label>Фамилия</label>
                    <input type="text" id="lastname-input" value="@Model.LastName" />
                </div>
            </div>
        </div>
        <div class="section" head="Данные для входа">
            <div class="input-section">
                <label>Логин</label>
                <input type="text" id="login-input" value="@Model.Login" />
            </div>
            <div class="input-section">
                <label>Сменить пароль</label>
                <input type="password" id="password-input" />
                <input type="button" class="btn-info" id="change-password-button" value="Изменить" />
            </div>
        </div>
        <div class="page-footer">
            <input type="button" class="btn-action" id="save-button" value="Сохранить" />
        </div>
    </div>