@using ExamManager.Models
@model ExamManager.Models.User
@{
    ViewData["Title"] = "Администратор";
    //ViewData["UserName"] = $"{Model!.LastName} {Model!.FirstName}";
    ViewData["IsAdmin"] = Model.Role == UserRole.ADMIN;
    Layout = "_AccountLayout";
}

<div class="container">
    <link rel="stylesheet" href="~/css/account/settings.css" />
    <div class="page-header">Настройки</div>
    <div class="page-body">
        <div class="input-section">
            <span class="label">Имя</span>
            <input id="firstName" type="text" class="input" placeholder="Введите имя" value="@(Model.FirstName)" />
        </div>
        <div class="input-section">
            <span class="label">Фамилия</span>
            <input id="lastName" type="text" class="input" placeholder="Введите фамилию" value="@(Model.LastName)" />
        </div>
        <div class="input-section">
            <span class="label">Логин</span>
            <input id="login" type="text" class="input" placeholder="Введите логин" value="@(Model.Login)" />
        </div>
        <div class="input-section">
            <span class="label">Новый пароль</span>
            <input id="password" type="text" class="input" placeholder="Введите новый пароль" />
        </div>
    </div>
    <div class="page-footer">
        <div class="button-section">
            <input id="saveButton" type="button" class="button" value="Сохранить" />
        </div>
    </div>
</div>