@model ExamManager.Models.UserViewModel
@{
    ViewData["Title"] = "Студент";
    ViewData["UserName"] = $"{Model!.MiddleName} {Model!.FirstName}";
    ViewData["IsAdmin"] = false;
    Layout = "_AccountLayout";
}

<div class="container">
    
</div>