@using ExamManager.Models
@model ExamManager.Models.User
@{
    ViewData["Title"] = "Студенты";
    ViewData["UserName"] = $"{Model.LastName} {Model.FirstName}";
    ViewData["IsAdmin"] = Model.Role == UserRole.ADMIN;
    Layout = "_AccountLayout";
}

<div class="page-header">Студенты</div>
<div class="students-table">
    <div class="student-nav">
        <input id="student-name"
               class="student-name"
               type="text"
               placeholder="Поиск" />
        <input id="open-button"
               type="button"
               class="btn-action"
               value="Добавить" />
        <input id="reload-button"
               type="button"
               class="btn-info"
               value="Обновить" />
    </div>
    <div class="header">
        <div class="row">
            <div>№</div>
            <div>Фамилия, имя</div>
            <div>Группа</div>
            <div>Задачи</div>
        </div>
    </div>
    <div class="body">
        <div class="loader"></div>
    </div>
</div>
<dialog class="create-student-modal" id="create-student-modal">
    <div class="header">Добавить студентов</div>
    <div class="container">
        <input type="button" id="new-user" class="btn-info" value="Новый студент" />
        <input type="file" name="file" id="import" class="input-file" />
        <label for="import" class="input-file">
            <i class="icon fa fa-check"></i>
            <span class="js-fileName">Загрузить файл</span>
        </label>
    </div>
    <div class="footer">
        <input type="button" id="close-button" class="btn-cancel" value="Закрыть">
    </div>
</dialog>