@using ExamManager.Models
@model (User User, StudyTask Task)
@{
    ViewData["Title"] = Model.Task.Title;
    ViewData["UserName"] = $"{Model.User.LastName} {Model.User.FirstName}";
    ViewData["IsAdmin"] = Model.User.Role == UserRole.ADMIN;
    Layout = "_AccountLayout";
}
<link rel="stylesheet" href="~/css/account/task.css" />
<link rel="stylesheet" href="~/css/account/task/task-students-modal.css" />
<script src="~/lib/ckeditor/ckeditor.js"></script>
<script src="~/lib/ckfinder/ckfinder.js"></script>
<div id="taskId" value="@Model.Task.ObjectID"></div>
<input id="task-title" class="input-standard" style="width: 70%; font-size: 25px" placeholder="Название задания" value="@Model.Task.Title" />
<div class="description">
    <textarea hidden id="task-description" class="input-standard" style="resize: none" cols="100%" rows="10" placeholder="Описание">@Model.Task.Description</textarea>
</div>
<script>
          let editor = CKEDITOR.replace('task-description', {
        height: 400,
        resize_enabled: false
    });
    CKFinder.setupCKEditor(editor);
</script>

<div class="footer">
    <input id="open-button"
           type="button"
           class="btn-info"
           value="Студенты" />
    <input id="save-button"
           type="button"
           class="btn-action"
           value="Сохранить" />
</div>
<dialog class="add-students-modal" id="add-students-modal">
    <div class="container">
        <div class="header">Присвоить студентам</div>
        <div class="students">
            <div id="to-add" class="section">
                <div class="search">
                    <input id="search-to-add" type="text" />
                </div>
                <div class="content">
                </div>
            </div>
            <div id="to-remove" class="section">
                <div class="search">
                    <input id="search-to-remove" type="text" />
                </div>
                <div class="content">
                </div>
            </div>
        </div>
        <div class="footer">
            <input id="close-button"
                   type="button"
                   class="btn-cancel"
                   value="Закрыть" />
        </div>
    </div>
</dialog>

<script src="~/js/account/task/task-students-modal.js"></script>