@{
    ViewData["Title"] = "Home Page";
    //Layout = "_Layout";
}

<div class="row">
    <div class="col-12 align-items-md-center">
        <div class="row border-1">
            HELLO
        </div>
    </div>
</div>
